# Environnements
venv/
.env

# Logs & tracking
logs/
runs/
wandb/

# Checkpoints lourds
checkpoint-*/
checkpoints/
*.ckpt
optimizer.pt

# Cache
.cache/
__pycache__/

# Données
data/raw/
data/processed/

# OS
.DS_Store
